*.db
*.db-shm
*.db-wal
*.v2
/Estruturais/FacadeEx/.vs
*.cache
/Criacionais/FactoryMethodEx/.vs
/Criacionais/FactoryMethodEx/obj
*.vsidx
/Criacionais/AbsctractFactoryEx/.vs
/Criacionais/AbsctractFactoryEx/obj
*.pdb
/Comportamentais/StrategyEx/.vs
*.dll
/Comportamentais/StrategyEx/bin
/Comportamentais/StrategyEx/obj
/Criacionais/SingletonEx/.vs
/Criacionais/SingletonEx/.vs
/Comportamentais/ObserverEx/.vs
/Comportamentais/ObserverEx/bin
/Comportamentais/ObserverEx/obj
