*.db
*.db-shm
*.db-wal
*.v2
/Estruturais/FacadeEx/.vs
*.cache
/Criacionais/FactoryMethodEx/.vs
/Criacionais/FactoryMethodEx/obj
*.vsidx
/Criacionais/AbsctractFactoryEx/.vs
/Criacionais/AbsctractFactoryEx/obj
